// Font stacks
$font-stack: Arial, 'Helvetica Neue', Helvetica, sans-serif;

// Font sizes
$font-size: 1.6rem;

// Line heights
$line-height: 1.5;

// Colors
$color-dark: rgba(67, 63, 67, 1.0);
$color-light: rgba(254, 254, 254, 1.0);
$color-primary: rgba(239, 94, 95, 1.0);

// Breakpoints
$breakpoint-small: only screen and (max-device-width: 480px);
$breakpoint-medium: only screen and (max-device-width: 960px);
$breakpoint-large: only screen and (max-device-width: 1200px);